@import "https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap";
@import "tailwindcss";

@theme {
    --font-sans: "Oxanium", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "daisyui" {
    themes: light --default, dark;
    root: ":root";
    logs: true;
}
